$black: #01080e;
$mid-blue: #011627;
$dark-blue: #011221;
$light-blue: #3c9d93;
$light-purple: #607b96;
$purple: #4d5bce;
$white: #ffffff;
$orange: #fea55f;
$teal: #43d9ad;
$dark-pink: #e99287;
$pink: #c98bdf;
