.contatct-main {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 524px;
	width: -webkit-fill-available;
}
.nav-wraper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 1;
	width: -webkit-fill-available;
	min-height: 524px;
}
.contact-main-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 6;
	min-height: 524px;
	box-shadow: 2px 0px 90px 0px rgba(97, 0, 194, 0.4);
}
.projects-title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: -webkit-fill-available;
	gap: 10px;
	padding-left: 15px;
	height: 35px;
	color: #fff;
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 45px;
	border: 1px solid #1e2d3d;
}
.nav-icon-title-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 3;
	width: -webkit-fill-available;
}
.social-icon-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 42px;
	min-height: 460px;
	width: 80px;
	margin-top: 20px;
}
.social-contact-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 30px;
	flex-grow: 2;
	min-height: 460px;
	width: 80px;
	margin-top: 20px;
}
