.project-card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 20em;
	border-radius: 15px;
	border: 1px solid #1e2d3d;
	background: #011221;
	box-shadow: 2px 0px 10px 0px rgba(0, 194, 139, 0.537);
}
.project-main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 2;
	height: 50%;
	width: -webkit-fill-available;
	overflow: hidden;
}
.project-bottom {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 15px;
	flex-grow: 2;
	height: 10%;
	width: -webkit-fill-available;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 520px) {
	.project-card-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 15em;
		height: 20em;
		border-radius: 15px;
		border: 1px solid #1e2d3d;
		background: #011221;
		box-shadow: 2px 0px 10px 0px rgba(0, 194, 139, 0.537);
	}
}
